# Required: Cognito needs a LocalStack license.
# Get a free (Hobby) token at https://app.localstack.cloud/workspace/auth-token
LOCALSTACK_AUTH_TOKEN=

# Optional
# LOCALSTACK_IMAGE=localstack/localstack:latest
# LOCALSTACK_DEBUG=1
